# Project exclude paths
/mengxuegu-cloud-eureka/target/
/mengxuegu-cloud-gateway/target/
/mengxuegu-cloud-oauth2-base/target/
/mengxuegu-cloud-oauth2-resource-product/target/
/mengxuegu-cloud-oauth2-server/target/
/mengxuegu-cloud-oauth2-sso-client1/target/
/mengxuegu-cloud-oauth2-sso-client2/target/