# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springboot_project\mengxuegu-cloud-oauth2-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
